<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{product.name | uppercase}}
        </mat-card-title>
        <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop image"></div>
    <img [src]="product.image" alt="">
    <mat-card-content>
        <p>{{ product.description | slice:0:10 }}</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button [routerLink]="['/products-adm', product.id]">Ver detalle</a>
        <button mat-raised-button class="btn btn-primary" (click)="addCart()">Agregar al carrito</button>
    </mat-card-actions>
</mat-card>
