input {
  &.is-valid {
    boder: 3px solid green;
  }
  &.is-invalid {
    border: 3px solid red;
  }

}

.messages {
  opacity: 0;
  transition: all .5s ease-in;
  color: red;
  &.active {
    opacity: 1;
  }
}
form {
  mat-form-field {
    width: 100%;
  }
}

.mat-tab-group {
  margin-bottom: 48px;
}
