<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel> Sus productos</ng-template>
        <div *ngIf="(listProduct$ | async) as products">
            <p *ngIf="products.length === 0">No hay productos</p>
            <div class="row" *ngFor="let prod of products">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="prod.image">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{prod.title}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{prod.price}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        {{prod | cartrepeat }}
                    </div>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Datos personales</ng-template>
        <h1>contenifo</h1>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Pago</ng-template>
        <h1>contenifo</h1>
    </mat-step>
</mat-horizontal-stepper>